@import "_components/_ProximaNova.scss";
@import "_components/_slick-dots_imdb.scss";
@import "_components/_block-title.scss";
@import "_components/_imdb-slider__nav.scss";
@import "_components/_movie-rating.scss";
@import 'nice-select';

* {
  box-sizing: border-box;
  //border: 1px solid red;

}

body {
  font-family: ProximaNova, Arial sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

$blue: #21afe0;

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.span_blue {
  color: $blue;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

header {
  width: 100%;
  background: #1f1f1f;
}

.header-block {
  width: inherit;
  height: 90px;
  display: flex;
  align-items: center;

  .header__home-page {
    width: 90px;
    height: 50px;
    margin-right: 14px;

    img {
      width: inherit;
      height: inherit;
    }
  }

  .header__search-input {
    width: 390px;
    height: 50px;
    outline-color: $blue;
    padding-left: 20px;
    font-size: 16px;
    color: #aaa;
    margin-right: 10px;
  }

  .header__select {
    display: flex;
    align-items: center;
    color: #2c2c2c;
    background: #d7d7d7;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 210px;
    height: 50px;
    border-radius: 0;
    margin-right: 10px;

    .option {
      color: #000;
      width: 210px;

      &:hover, &.focus, &.selected.focus {
        background-color: #d7d7d7;
      }

      &:hover {
        color: #2c2c2c;
        background-color: lighten(#d7d7d7, 7%);
      }
    }

    &:after {
      border-bottom: 2px solid #2c2c2c;
      border-right: 2px solid #2c2c2c;
    }
  }

  .header__search-btn {
    width: 50px;
    height: 50px;
    background: #ffd130;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    margin-right: 28px;
    transition: all, 0.5s;

    &:hover {
      background: darken(#ffd130, 13%);
    }
  }

  .header__IMDb-pro {
    width: 160px;
    height: 50px;
    background: #3a3a3a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    cursor: pointer;

    h1 {
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      margin: 0;
    }

    p {
      font-size: 12px;
      color: #b0afaf;
      margin: 0;
    }
  }

  .header__IMDb-info {
    color: #fff;
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 14px;

    .fa {
      font-size: 23px;
      margin-right: 10px;
    }

    &:hover {
      color: $blue;
    }
  }
}

.section__top-nav {
  width: 100%;
  height: 58px;
  background: #fafafa;
}

.top-nav {
  width: inherit;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .top-nav__main {
    ul {
      padding: 0;
      display: flex;

      li {
        font-size: 16px;
        color: #797979;
        list-style: none;
        margin-left: 20px;
        padding-right: 20px;
        border-right: 1px solid #797979;

        a {
          font-size: 16px;
          color: #797979;

          &:hover {
            color: $blue;
          }
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          padding-right: 0;
          border-right: none;
        }
      }
    }
  }

  .top-nav__account {
    display: flex;
    font-size: 16px;

    span {
      color: #797979;
      cursor: pointer;

      &:hover {
        color: $blue;
      }
    }

    .fa {
      margin-left: 10px;
    }

    ul {
      padding: 0;
      list-style: none;
      line-height: 1.5;

      li {
        a {
          color: #797979;

          &:hover {
            color: $blue;
          }
        }
      }
    }

    .watchlist {
      margin-right: 23px;
    }

    .dropdown {
      position: relative;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fafafa;
      min-width: 130px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 10px 10px;
      z-index: 1;
      right: -10px;
      top: 3px;
      text-align: right;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
  }
}

.movie-genre {
  display: flex;

  div {
    padding: 2px 5px;
    border: 1px solid #fff;
    font-size: 12px;
    color: #fff;
    margin-right: 10px;
  }
}

.top-slider__slide-content {
  display: flex;

  .top__movie-poster {
    a {
      width: 270px;
      height: 400px;
      outline: none;

      img {
        width: inherit;
        height: inherit;
      }
    }
  }

  .top__movie-description {
    width: calc(100% - 270px);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 25px;
    color: #fff;

    .top__movie-title {
      display: flex;
      align-items: flex-end;

      h1 {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        margin: 0;

        span {
          font-size: 18px;
        }
      }
    }

    .top__movie-story {
      width: 600px;

      p {
        font-size: 16px;
      }
    }

    .top__movie-short-info {
      display: flex;
      align-items: flex-end;
      margin-bottom: 25px;

      .movie-duration {
        margin-left: 13px;
        font-size: 14px;
        color: #d2d2d2;
        margin-right: 25px;
      }

      .movie-release {
        font-size: 14px;
        color: #d2d2d2;
      }

      .movie-watch-trailer {
        font-size: 14px;
        color: #fff;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 38px;
        outline: none;

        i {
          margin-right: 10px;
        }

        &:hover {
          color: $blue;
        }
      }
    }
  }

  .top__movie-description_bg_01 {
    background: url(../img/Insurgent_2015_bg.jpg) no-repeat top / cover;
  }

  .top__movie-description_bg_02 {
    background: url(../img/Kingsman_The_Secret_Service_2014_bg.jpg) no-repeat top / cover;
  }

  .top__movie-description_bg_03 {
    background: url(../img/Avengers_Age_of_Ultron_2015_bg.jpg) no-repeat top / cover;
  }

  .top__movie-description_bg_04 {
    background: url(../img/Furious_Seven_2015_bg.jpg) no-repeat top / cover;
  }

  .top__movie-description_bg_05 {
    background: url(../img/Mad_Max_Fury_Road_2015_bg.jpg) no-repeat top / cover;
  }

  .top__movie-description_bg_06 {
    background: url(../img/Jurassic_World_2015_bg.jpg) no-repeat top / cover;
  }

  .top__movie-description_bg_07 {
    background: url(../img/Chappie_2015_bg.jpg) no-repeat top / cover;
  }
}

.section_top-slider {
  position: relative;

  .top-slider__nav_previous {
    left: 5%;
  }

  .top-slider__nav_next {
    right: 5%;
  }
}

.cinema-movie {
  width: inherit;
  display: flex;
  flex-direction: column;

  .cinema-movie__nav {
    padding: 0;
    width: inherit;
    display: flex;
    border-bottom: 2px solid #e5e5e5;
  }

  .cinema-movie__links {
    width: inherit;
    margin-top: 20px;
  }
}

.cinema-movie__nav_item {
  list-style: none;
  font-size: 16px;
  font-weight: 700;
  color: #1f1f1f;
  text-transform: uppercase;
  padding: 25px 0;
  margin: 0 30px;
  border-bottom: 2px solid #e5e5e5;
  transform: translateY(2px);
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: $blue;
  }
}

.cinema-movie__nav_item_on-click {
  color: $blue;
  border-bottom: 2px solid $blue;
}

.cinema-movie__links_movies {
  width: inherit;
  display: none;
  flex-direction: column;

  .cinema-movie__links_movie-list {
    width: inherit;
    display: flex;
    justify-content: space-between;

    .cinema-movie__links_movie-list-item {
      display: flex;
      flex-direction: column;

      a {
        outline: none;
        width: 170px;
        height: 230px;
        overflow: hidden;

        img {
          width: inherit;
          height: inherit;
          transition: all 0.3s linear;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      h1 {
        font-size: 16px;
        font-weight: 400;
        color: $blue;
        width: 160px;
        margin: 0;
        margin-top: 20px;
      }
    }
  }

  .cinema-movie__links_movies-more {
    margin-top: 35px;
    margin-bottom: 40px;
    color: $blue;
    width: 270px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.cinema-movie__links_movies_on-click {
  display: flex;
}

.section__news-tv-sidebar {
  background: #f5f5f5;
  padding: 30px 0;
}

.news-tv-sidebar {
  width: inherit;
  display: flex;
  justify-content: space-between;

  .news-tv {
    width: 770px;
    display: flex;
    flex-direction: column;
  }
}

.news-slider {
  width: inherit;
  outline: none;
  position: relative;
  background: #fff;

  .slick-dots_imdb {
    bottom: 0;
    right: 285px;

    li {
      button {
        background: darken(#e6e6e6, 15%);

        &:focus {
          background: #21afe0;
        }

        &:hover {
          background: lighten(#21afe0, 20%);
        }
      }
    }

    li.slick-active {
      button {
        background: #21afe0;
      }
    }
  }

  .news-slider__slide {
    width: inherit;
    display: flex;
    transform: translateX(1px);
    outline: none;

    .news-slider__slide_image {
      width: 370px;
      height: 370px;
    }

    .news-slider__slide_info {
      width: 400px;
      display: flex;
      flex-direction: column;
      padding: 0 20px;

      .news-slider__slide_title {
        margin: 0;
        margin-top: 95px;
        font-size: 18px;
        color: $blue;
        margin-bottom: 20px;
      }

      .news-slider__slide_magazine {
        font-size: 13px;

        span {
          color: #a4a4a4;
        }

        a {
          color: $blue;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .news-slider__slide_discr {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 16px;
      }

      .news-slider__slide_more {
        font-size: 14px;
        color: $blue;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .news-slider__slide_image_01 {
      background: url(../img/Chappie_2015_news-bg.jpg) no-repeat top / cover;
    }

    .news-slider__slide_image_02 {
      background: url(../img/Kingsman_The_Secret_Service_2014_news-bg.jpg) no-repeat top / cover;
    }

    .news-slider__slide_image_03 {
      background: url(../img/Avengers_Age_of_Ultron_2015_news-bg.jpg) no-repeat top / cover;
    }

    .news-slider__slide_image_04 {
      background: url(../img/Jurassic_World_2015_news-bg.jpg) no-repeat top / cover;
    }

    .news-slider__slide_image_05 {
      background: url(../img/Mad_Max_Fury_Road_2015_news-bg.jpg) no-repeat top / cover;
    }
  }
}

.news__block-title {
  position: absolute;
  top: 52px;
  left: 392px;
}

.tv-series {
  width: 770px;
  height: 575px;
  margin-top: 30px;
  position: relative;

  .slick-dots_imdb {
    width: 90px;
    top: 0;
    right: 60px;
  }

  .tv-series-slide {
    width: inherit;
    height: 575px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    outline: none;

    .series-info {
      width: inherit;
      margin-bottom: 45px;
      display: flex;

      .series-poster {
        width: 135px;
        height: 190px;
        margin-left: 35px;
        margin-right: 30px;

        img {
          width: inherit;
          height: inherit;
        }
      }

      .series-title {
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        margin: 0;
        margin-bottom: 15px;
      }

      .movie-genre {
        margin-bottom: 20px;
      }

      .series-story {
        width: 525px;
        font-size: 16px;
        color: #fff;
      }
    }
  }

  .tv-series-slide__bg_01 {
    background: url(../img/Gotham_2014_bg.jpg) no-repeat top / cover;
  }

  .tv-series-slide__bg_02 {
    background: url(../img/Better_Call_Saul_2015_bg.jpg) no-repeat top / cover;
  }

  .tv-series-slide__bg_03 {
    background: url(../img/Daredevil_2015_bg.jpg) no-repeat top / cover;
  }

  .tv-series-slide__bg_04 {
    background: url(../img/Silicon_Valley_2014_bg.jpg) no-repeat top / cover;
  }

  .tv-series-slide__bg_05 {
    background: url(../img/Ash_vs_Evil_Dead_2015_bg.jpg) no-repeat top / cover;
  }
}

.series__block-title {
  position: absolute;
  top: 447px;
  left: 17px;
}

.first-sidebar {
  width: 370px;
  display: flex;
  flex-direction: column;

  .birthdays {
    background: #fff;
    width: inherit;
    height: 510px;
    display: flex;
    flex-direction: column;

    .birthdays-list {
      padding: 0 20px;

      li {
        list-style: none;
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        margin-top: 20px;
        border-bottom: 1px solid #ededed;

        &:last-child {
          border-bottom: none;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50px;
          margin-right: 20px;
        }

        .birthdays-list__item {
          display: flex;
          flex-direction: column;

          .birthdays-list__item_name {
            font-size: 16px;
            color: $blue;
            margin-bottom: 5px;

            &:hover {
              text-decoration: underline;
            }
          }

          .birthdays-list__item_prophecy {
            font-size: 14px;
          }
        }

        .birthdays-list__item_age {
          font-size: 12px;
          color: #bdc1c5;
          margin-left: 10px;
          transform: translateY(-10px);
        }
      }
    }
  }

  .trivia {
    width: inherit;
    height: 437px;
    margin-top: 30px;
    background: #fff;
    display: flex;
    flex-direction: column;

    img {
      width: inherit;
      height: 270px;
    }

    .trivia__title {
      font-size: 18px;
      color: $blue;
      margin-top: 43px;
      margin-left: 20px;

      &:hover {
        text-decoration: underline;
      }
    }

    .trivia__discr {
      font-size: 16px;
      margin-left: 20px;
      padding-right: 20px;
    }
  }
}

.section__movie-photo {
  position: relative;

  .imdb-slider__nav {
    transform: translateY(-5px);
  }

  .movie-photo-slider__nav_previous {
    left: 5%;
  }

  .movie-photo-slider__nav_next {
    right: 5%;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .slick-dots_imdb {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.movie-photo-slider_slide {
  width: 100%;
  height: 553px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;

  .movie-photo-slider_slide-content {
    width: inherit;
    height: 553px;
    display: flex;
    flex-direction: column;

    .movie-photo__movie-info {
      width: inherit;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      margin-bottom: 40px;

      .movie-photo__movie-title {
        margin: 0;
        font-size: 18px;
        color: #fff;
      }

      .see-more_movie-photo {
        font-size: 14px;
        color: $blue;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .movie-photo__galery {
      width: inherit;
      display: flex;
      justify-content: space-between;

      .movie-photo__galery_img-big {
        width: 370px;
        height: 370px;
      }

      .movie-photo__galery_images {
        width: 370px;
        height: 370px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: space-between;

        .movie-photo__galery_img-small {
          width: 180px;
          height: 180px;
        }
      }
    }
  }
}

.movie-photo-slider_slide::before {
  background-color: rgba(0, 0, 0, 0.60);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.movie-photo-slider_slide_01 {
  background-image: url(../img/Avengers_Age_of_Ultron_2015_movie-photo_bg.jpg);
}

.movie-photo-slider_slide_02 {
  background-image: url(../img/Seventh_Son_2014_movie-photo_bg.jpg);
}

.movie-photo-slider_slide_03 {
  background-image: url(../img/Chappie_2015_movie-photo_bg.jpg);
}

.movie-photo-slider_slide_04 {
  background-image: url(../img/Jurassic_World_2015_movie-photo_bg.jpg);
}

.movie-photo-slider_slide_05 {
  background-image: url(../img/Mad_Max_Fury_Road-2015_movie-photo_bg.jpg);
}

.section__recommended_celebs_newletter {
  background: #f5f5f5;
}

.recommended_celebs_newletter {
  width: inherit;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.recomended-movies-slider {
  width: 370px;
  height: 580px;
}

.recomended-movies-slider__slide {
  width: 370px;
  height: 580px;
  display: flex;
  flex-direction: column;
  background: #fff;
  outline: none;

  .recomended-movies__next {
    margin-right: 20px;
    font-size: 14px;
    color: $blue;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .recommended-movie__image {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }

  .recomended-movies-slider__slide_padding {
    padding: 0 20px;
  }

  .recommended-movie__title {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;

    a {
      color: $blue;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      color: #222;
    }
  }

  .movie-genre {
    margin-bottom: 15px;

    div {
      border: 1px solid #c6c6c6;
      color: #c6c6c6;
    }
  }

  .recommended-movie__discr {
    margin: 0;
    font-size: 16px;
    color: #000;
    margin-top: 20px;
  }
}

.celebs-slider {
  position: relative;
  width: 370px;
  height: 580px;

  .slick-dots_imdb {
    top: 0;
    right: 15%;
  }
}

.celebs-slider__slide {
  width: 370px;
  height: 580px;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .celebs__info {
    transform: translateY(350px);
  }

  .celebs__name {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;

    &:hover {
      color: $blue;
    }
  }

  .celebs__discr {
    margin: 0;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 25px;
    color: #fff;
  }

  .celebs__statistic {
    color: #fff;
    font-weight: 700;

    span {
      font-size: 14px;
      margin-left: 5px;
    }
  }
}

.celebs-slider__slide_01 {
  background: url(../img/Stephen_Amell_bg.jpg) no-repeat center / cover;
}

.celebs-slider__slide_02 {
  background: url(../img/Charlize_Theron_bg.jpg) no-repeat center / cover;
}

.celebs-slider__slide_03 {
  background: url(../img/Tom_Hardy_bg.jpg) no-repeat center / cover;
}

.celebs-slider__slide_04 {
  background: url(../img/Leonardo_DiCaprio_bg.jpg) no-repeat center / cover;
}

.celebs-slider__slide_05 {
  background: url(../img/Johnny_Depp_bg.jpg) no-repeat center / cover;
}

.newsletters-polls {
  width: 370px;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imdb-newsletter {
  width: inherit;
  height: 223px;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;

  p {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 16px;
  }

  form {
    display: flex;
    height: 50px;
    margin-bottom: 15px;

    input {
      width: 277px;
      height: inherit;
      border: none;
      background-color: #f5f5f5;
      outline-color: darken(#f5f5f5, 50%);
      padding-left: 20px;
      font-size: 16px;
      color: #aaaaaa;
    }

    button {
      border: none;
      width: 50px;
      height: inherit;
      background: #ffd130;
      color: #665413;
      outline: none;
      transition: all, 0.5s;

      &:hover {
        background: darken(#ffd130, 10%);
      }
    }
  }

  span {
    font-size: 13px;
    color: #b5b5b5;
  }
}
