.block-title {
  display: flex;
  flex-direction: column;

  h1{
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }

  .block-title__line {
    width: 48px;
    height: 3px;
    background: #fff;
    margin-top: 20px;
  }
}

.block-title_black {
  h1{
    color: #000;
  }

  .block-title__line {
    background: #000;;
  }
}

.block-top {
  width: inherit;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 23px;

  .block-title {
    display: block;
    margin-left: 20px;
  }

  .see-more__block-info {
    font-size: 14px;
    color: #21afe0;
    margin-right: 20px;

    &:hover {
      text-decoration: underline;
    }
  }
}
