.slick-dots_imdb {
  display: flex;
  position: absolute;

  li {
    list-style: none;

    button {
      font-size: 0;
      width: 12px;
      height: 12px;
      border: none;
      background: #fff;
      border-radius: 7px;
      margin-right: 10px;
      outline: none;
      padding: 0;

      &:focus {
        background: #21afe0;
      }

      &:hover {
        background: lighten(#21afe0, 20%);
      }
    }

    &:last-child {
      button {
        margin-right: 0;
      }
    }
  }

  li.slick-active {
    button {
      background: #21afe0;
    }
  }
}
